name: Enviar notificación a ntfy.sh

on:
  push:
    branches:
      - main

jobs:
  notificar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Enviar notificación a ntfy.sh
        run: |
          curl -d "Hola mundo desde github actions" ntfy.sh/devops-itla
